.topnav {
}

.topnav__item-inner > span {
  text-transform: capitalize;
}

.topnav__item-inner:hover {
  color: var(--chakra-colors-cyan-300);
}

.topnav__item-inner.active {
  color: var(--chakra-colors-cyan-500);
  /* background-image: linear-gradient(
    to right,
    var(--chakra-colors-cyan-200),
    var(--chakra-colors-cyan-50)
  ); */
}

.topnav__item {
  /* padding: 0 20px; */
  padding: 1rem 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}

.topnav__item-inner {
}
