.topnav {
  padding: 30px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnav-height);
}

.topnav__account > input {
  height: 100%;
  width: 175%;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  /* border-radius: var(--border-radius); */
  color: var(--txt-color);
  background-color: var(--main-bg);
  border: none;
  pointer-events: none;
}

.topnav__right {
  display: flex;
  align-items: center;
}

.topnav__right-item ~ .topnav__right-item {
  margin-left: 30px;
}

.topnav__right-item:hover {
  color: var(--main-color);
}

.topnav__logo > img {
  height: 50px;
}

.topnav__logo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav__item-inner > span {
  text-transform: capitalize;
}

.topnav__item-inner:hover {
  color: var(--main-color);
}

.topnav__item-inner.active {
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--second-color)
  );
  color: var(--txt-white);
}

.topnav__item {
  padding: 0 20px;
}

.topnav__item-inner {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}

.topnav__item-inner > i {
  margin-right: 10px;
  font-size: 1.5rem;
}
