.layout {
  color: black;
  background-color: hsl(0, 2%, 32%);
}

.layout__content {
  min-height: 100vh;
}

.layout__content-main {
  width: 100%;
  padding: 30px;
}

.layout__wallet {
  float: right;
  margin-right: 100px;
}
