@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=M+PLUS+Rounded+1c:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=M+PLUS+Rounded+1c:wght@500;800&family=Raleway:ital,wght@1,300&display=swap");
@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Lato", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "neontubes";
}

.layout {
  background: #000428;
  /* linear-gradient(to top, #004e92, #000428); */
  display: flex;
  flex-direction: column;
}

.layout__header {
  backdrop-filter: blur(2rem);
  position: fixed;
  z-index: 10;
}
.layout__content {
  margin: 11rem 0 2rem 0;
  /* margin-top: 11rem; */
  min-height: 65vh;
}
.layout__footer {
}

::-webkit-scrollbar {
  width: 0;
  height: 12px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-width: 0px 0 0px 0;
  border-radius: 30px;
  box-shadow: -3px -3px 20px 3px #ffffff, 3px 3px 20px 3px #ffffff,
    3px -3px 20px 3px #ffffff, -3px 3px 20px 3px #ffffff,
    inset -3px -3px 10px -4px #ffffff, inset 3px 3px 10px -4px #ffffff,
    inset 3px -3px 10px -4px #ffffff, inset -3px 3px 10px -4px #ffffff;

  border-top-left-radius: 8px 50%;
  border-top-right-radius: 8px 50%;
  border-bottom-right-radius: 8px 50%;
  border-bottom-left-radius: 8px 50%;
  background-color: #5ce3f2;
}
::-webkit-scrollbar-track {
  background: #004e92;
  outline: 2px solid #d1d2d0;
  /* border: solid #d1d2d0;
  border-width: 2px 0 0 0; */
}
