@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=M+PLUS+Rounded+1c:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=M+PLUS+Rounded+1c:wght@500;800&family=Raleway:ital,wght@1,300&display=swap");
@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Lato", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "neontubes";
}

.layout {
  /* background: #000428; */
  /* background-image: linear-gradient(
    to top,
    #0f1c2e,
    #0e2536,
    #0d2e3d,
    #103843,
    #174147,
    #184145,
    #194142,
    #1b4140,
    #143938,
    #0c3130,
    #052928,
    #002120
  ); */
  background-image: linear-gradient(
    to top,
    #130111,
    #0e0111,
    #090111,
    #04010f,
    #00010d
  );
  /* linear-gradient(to top, #004e92, #000428); */
  display: flex;
  flex-direction: column;
}

.layout__header {
  backdrop-filter: blur(2rem);
  position: fixed;
  z-index: 10;
}
.layout__content {
  margin: 11rem 0 2rem 0;
  /* margin-top: 11rem; */
  min-height: 80vh;
  min-width: 800px;
}
.layout__footer {
  background: black;
}
.company-logo {
  min-width: 100px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  box-shadow: -3px -3px 10px 1px #ffffff, 3px 3px 10px 1px #ffffff,
    inset -3px -3px 10px -4px #ffffff, inset 3px 3px 10px -4px #ffffff,
    inset 3px -3px 10px -4px #ffffff, inset -3px 3px 10px -4px #ffffff;
  background-color: #5ce3f2;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
